[package]
name = "traq-bot-kenken"
version = "0.1.0"
edition = "2021"

[dependencies]
axum = "0.7.5"
http = "1.1.0"
tokio = { version = "1.39.2", features = ["rt-multi-thread", "macros"] }
traq = "0.1.4"
traq-bot-http = "0.9.0"
